<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/bower/modernizr/modernizr.js"></script>
</head>
<body>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bootstrap with AngularJS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                    <li>@Html.ActionLink("Categories", "Index", "TicketCategories")</li>
                    <li>@Html.ActionLink("Angular", "AngularApp", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar navbar-fixed-bottom navbar-inverse">
            <div class="container text-center row">
                <p class="navbar-text col-xs-12">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </footer>
    </div>

    <script src="~/bower/jquery/dist/jquery.js"></script>
    <script src="~/bower/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>